html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  color: #01579b;
  transition: color 0.3s ease;
}

a:hover {
  color: #00b0ff;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.error {
  padding: 1rem;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545;
}

.error mark {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  background-color: #01579b;
}

.search-form {
  margin: auto;
  text-align: center;
}

.search-form input {
  display: block;
  margin: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.grid-fluid {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.header {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.header > * {
  margin: 1rem auto;
}

.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

.post-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: #eceff1;
}

.post-card p {
  display: flex;
  justify-content: space-between;
}

.post-page {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: #eceff1;
}

.post-page > aside {
  margin: auto;
  width: 60%;
  text-align: center;
}

.post-page > hr {
  border: thin solid #cfd8dc;
  margin: 2rem auto;
  width: 80%;
}

.post-page time {
  margin: 1rem auto;
  display: block;
}

.post-page > article {
  padding: 0.2rem;
}

.post-page img,
.post-page audio,
.post-page figure,
.post-page iframe,
.post-page video {
  margin: auto;
  display: block;
  max-width: 100%;
}
