:root {
    --yellow-color: #f7df1e;
    --dark-color: #222;
}

.card {
    display: inline-block;
    margin-top: 25px;
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

.card figcaption {
    padding: 1rem;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-135 {
    transform: rotate(135deg);
}

.opacity-80 {
    opacity: .8;
}

.sepia {
    filter: sepia();
}

.e-flujo div {
    padding: 4rem;
    font-size: 2rem;
    text-align: center;
}

.uno {
    background-color: #f7df1e;
}

.dos {
    background-color: lawngreen;
}

.tres {
    background-color: lightseagreen;
}