* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding: 4rem;
    display: block;
}

h2 {
    text-align: center;
}

section>ul.claves>li,
section>ul.teclas>li {
    list-style: none;
    margin: 2rem 0;
}

code {
    padding: .5rem;
    background-color: black;
    color: white;
}

.canvas {
    background-color: black;
    width: 800px;
    height: 400px;
    position: relative;
}

.canvas__ball {
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}