:root {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --btn--border-color: #000000;
    --font--color: cadetblue;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: var(--font-family);
}

.disable {
    opacity: .2;
}

.container {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    bottom: 25px;
    text-align: center;
    color: var(--font--color);
}

.reloj__mostrado {
    width: 100%;
    height: 30px;
    padding: 3rem;
    border-radius: 10px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
}

.reloj__mostrado>h3 {
    font-size: 40px;
    color: var(--font--color);
}

.reloj__botones {
    padding: 1rem;
}

.reloj__btn {
    text-decoration: none;
    background-color: cadetblue;
    color: white;
    padding: 15px;
    border: none;

}