* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.header__content {
    padding: 2rem;
    text-align: center;
    background-color: gray;
    box-shadow: 0 2px 10px #ebebeb;
}

.header__title {
    color: white;
}

.menu {
    width: 100%;
    min-height: 100vh;
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul.menu__col {
    padding: 1rem;
}

ul>li.menu__element {
    list-style: none;
    color: aqua;
    padding: 1rem;
}

.menu__hidden {
    left: 0;
}

.btn {
    position: absolute;
    cursor: pointer;
    bottom: 2rem;
    right: 2rem;
}