<!-- <section id="contacto"> -->
<h1>Contacto</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ipsum, consequuntur facilis eveniet
    laboriosam sit omnis? Neque assumenda, rerum quaerat eveniet autem dolore voluptatem aut totam voluptate odio
    aspernatur quae?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sequi atque vero odit alias nostrum fuga
    laboriosam. Mollitia laborum tempora quos. Fuga odit id magni! Reprehenderit possimus magnam illo nulla.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident necessitatibus repellat assumenda! Quasi
    consequuntur optio tempora necessitatibus saepe sunt, porro ut assumenda labore, distinctio quaerat odit aperiam
    non id iusto.
</p>
<img src="http://placeimg.com/640/480/tech" alt="">
<!-- </section> -->