<header class="header">
    <section class="header-content container">
        <article class="logo">
            <img src="3.png" alt="lamt" width="50px" height="50px">
        </article>
        <nav class="menu">
            <a href="assets/home.html">Home</a>
            <a href="assets/acerca.html">Sobre nosotros</a>
            <a href="assets/contacto.html">Contacto</a>
        </nav>
    </section>
</header>